body {
  background: linear-gradient(to right, black, rgb(65, 65, 65));
  color: white;
}

html,body {
  width: 100vw;
}

.male,
.female {
  justify-self: center;
  height: 100%;
  width: 15rem;
  border-radius: 2rem;
  border: 3px solid white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
  text-decoration-line: none;
}

.logo:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px white;
}

h2 {
  margin: 1.5rem;
  justify-self: center;
}

section {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}

input {
  width: 96%;
}

.gender {
  margin: 1rem;
}

.inputs {
  margin: 1rem;
  padding: 0.5rem;
}

.button {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

button {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.button1:hover,
.button2:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 15px white;
  transition: all  1000ms;
}


table {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  margin-bottom: 4rem;
  justify-self: center;
}

th,
td {
  border: 1px solid white;
}

th,
td {
  padding: 12px 20px;
  font-size: 1rem;
  height: 64px;
  vertical-align: middle;
}

table {
  justify-self: center;
}

.display {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.display h2 {
  margin: 2rem;
}

.gender {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.result {
  width: ;
}

@media (max-width: 735px) {
  .male {
    height: 29rem;
    width: 13rem;
    border-radius: 1.5rem;
    border: 2px solid white;
  }
  .female {
    height: 34rem;
    width: 13rem;
    border-radius: 1.5rem;
    border: 2px solid white;
  }

  .male h2,
  .female h2 {
    margin: 1rem 0 0;
  }

  .gender {
    margin: 0;
  }
}
@media (max-width: 735px) {
  .male {
    height: 22rem;
    width: 10rem;
    border-radius: 1.5rem;
    border: 1.5px solid white;
    font-size: 0.8rem;
  }
  .female {
    height: 25rem;
    width: 10rem;
    border-radius: 1.5rem;
    border: 1.5px solid white;
    font-size: 0.8rem;
  }

  .gender {
    margin: 0.5rem;
  }

  input {
    height: 0.5rem;
  }

  .inputs{
    margin: 0.5rem;
  padding: 0.5rem;
  }

  .male h2,
  .female h2 {
    font-size: 1rem;
  }

  .display table tr th,
  .display table tr td{
    font-size: 0.5rem;
  }
}
